.card-deck
  - @appointments.each do |appointment|
    .card.mt-2{:style=>"width:200%"}
      .card-body.h5.card-title
        %h6{:style=>"float:left"}
          .div
            = "Restaurant : "
            = link_to "#{Restaurant.find(Table.find(appointment.table_id).restaurant_id).restaurant_name}", showrestaurant_path(Restaurant.find(Table.find(appointment.table_id).restaurant_id).restaurant_name)
          .div
            = "Time : "
            = appointment.time_start.strftime("%b %d, 20%y %k:%M")
            = " - "
            = (appointment.time_start+2.hours).strftime("%k:%M")
        %h6
          = "Table Number : "
          = Table.find(appointment.table_id).table_number
        %div{:style=>"float:right"}
          = link_to "Delete", deleteappointment_path(appointment.id), class:'btn btn-outline-danger'