%h1{:style=>"margin-bottom:50px"} Edit Profile

= simple_form_for @user, url: "/profile", method: :post do |f|

  .form-inputs{style:"margin-bottom:10px"}
    %div{style:"margin-bottom:10px"}
      = f.input :display_name
    %h5
      = f.button :submit,'Delete Account', style:'color:red; text-decoration:underline;', action:'Delete', data: { confirm: 'Are you sure to delete this account?' }

  .form-actions
    = f.button :submit,'Save', class:'btn btn-outline-success mt-2', action:'Save'
    = link_to 'Cancel', home_path, class:"btn btn-outline-danger mt-2"

