%p#notice= notice

%p
  %b Customer cap:
  = @table.customer_cap
%p
  %b Table number:
  = @table.table_number
%p
  %b Restaurant:
  = @table.restaurant_id

= link_to 'Edit', edit_table_path(@table)
\|
= link_to 'Back', tables_path
